* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  color: #fff;
  background-color: #111;
  line-height: 1.5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#2e2e2e ;
  padding: 15px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: red;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #e63946;
}

.btn {
  background: red ;
  color: #fff;
  padding: 8px 15px;
  border-radius: 7px;
  text-decoration: none;
}

.btn:hover {
  background: color-mix(in srgb, red 50%, yellow 70%);
}

.hero {
  height: 100vh;
  text-align: center;
  padding: 200px 20px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 15px;
  color: #e63946;
}

.hero p {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.btn-primary {
  background: #e63946;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-primary:hover {
 background-color:  color-mix(in srgb, red 50%, yellow 70%);
}

.badge{

  position: absolute;
  background: yellow;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  right: 20px;
  top: 90px;
  border: 5px groove wheat;
  font-weight: bold;
  
}

.sticky{
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  background-color: yellow;
  padding: 10px;
  margin: 10px 300px;
  color: #000;
  position:sticky;
  top: 100px;
}

.about {
  text-align: center;
  padding: 100px 20px;
}


h2{

  font-size: 2rem;
}

.feature {
  background: #2e2e2e;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.programs {
  text-align: center;
  padding: 100px 20px;
}

.program-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.program {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  
}

.program img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.program h3 {
  padding: 15px;
  
}

.trainers {
  text-align: center;
  padding: 100px 20px;
  
}

.trainer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  
}

.trainer {
  background: #222;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
}

.trainer img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

footer {
  background: #000;
  text-align: center;
  padding: 20px;
}

.socials  {
  color: #e63946;
  margin: 0 10px;
  text-decoration: none;
}

.socials a:hover {
  color: #ff4d5a;
}
